@import "./susy/susy";

$susy: (
  global-box-sizing: border-box,
  use-custom: (rem: true)
  );

.stack {
    @include container;
}

.bookstack {
    @include container(16);
    display: flex;
    align-items: center;
    justify-content: center;
    .position {
        @include span( 1 of 16 );
        // align-self: flex-start;
        font-weight: bold;
        font-size: 1.1em;
    }
    padding: 0.5em;
    border-top: 1px solid #CDCDCD;
    &.isRead {
        background-color: #EEE;
    }
    .info {
        @include span( 6 of 16 last);
        .categories {
            text-transform: capitalize;
            display: inline;
            padding: 0;
            > .category {
                display: inline;
            }

            > .category:before {
                content:',\0000a0'; /* Non-breaking space */
            }
            > .category:first-child:before {
                content: normal;
            }
        }
        
    }
}

.book {
    @include container(16);
    @include span( 9 of 16 );
    > img {
        @include span( 4 of 16 );
        max-width: 49px;
    }
    .info {
        @include span( 12 of 16 );
        > * {
            margin: 0 0 0.5em 0;
        }
    }
    .authors {
        padding: 0;
        text-transform: capitalize;
        display: inline;

        > .author {
            display: inline;
        }

        > .author:before {
            content:',\0000a0'; /* Non-breaking space */
        }
        > .author:first-child:before {
            content: normal;
        }
    }
}