
.stack {
}

.bookstack {
    display: flex;
    align-items: center;
    justify-content: center;
    .position {
        font-weight: bold;
        font-size: 1.1em;
        input {
            max-width: 80%;
            margin: 0;
            padding: 0;
        }
    }
    .moveArrow {
        &:hover {
            color: #313131;
        }
        color: #D0D0D0;
        cursor: pointer;
    }
    padding: 0.5em;
    border-top: 1px solid #CDCDCD;
    &.isRead {
        background-color: #EEE;
    }
    .info {
        .categories {
            text-transform: capitalize;
            display: inline;
            padding: 0;
            > .category {
                display: inline;
            }

            > .category:before {
                content:',\0000a0'; /* Non-breaking space */
            }
            > .category:first-child:before {
                content: normal;
            }
        }
    }
}

.book {
    > img {
        max-width: 49px;
    }
    .info {
        > * {
            margin: 0 0 0.5em 0;
        }
    }
    .authors {
        padding: 0;
        text-transform: capitalize;
        display: inline;

        > .author {
            display: inline;
        }

        > .author:before {
            content:',\0000a0'; /* Non-breaking space */
        }
        > .author:first-child:before {
            content: normal;
        }
    }
}