<!DOCTYPE html>
{% load i18n %}
<html>
  <head>
    <meta http-equiv='Content-type' content='text/html; charset=utf-8'>
    <title>{% block page_title %}{% endblock page_title %}</title>
    {% load staticfiles %}
    
    {% block head %}
    {% endblock head %}
  </head>
  <body>
    {% block body %}
    {% endblock body %}
    {% block scripts %}
    {% endblock scripts %}
    <script>
      window.MyApp.init({
        el: '#stack',
        staticPath: '{{ STATIC_URL }}',
        apiUrl: '{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.get_host }}'
      });
    </script>
  </body>
</html>
