{% extends "bookstack/base.html" %}
{% load staticfiles %}

{% block content %}
<br>
<br>
<br>
<div class="stack">
    <div class="add">
        <form action="{% url 'bookstack:ajax_fetch_books' user=stack.user.username pk=stack.id %}" method="post" id="fetch-books">
            <input type="text" name="isbn">
            {% csrf_token %}
            <button type="submit">Add</button>
        </form>
    </div>
    <h1 id="stackname" data-bind="stackname">
        {{stack.name}}
    </h1>
    <div class="user" data-bind="username">
        {{stack.user}}
    </div>
    <div class="created" data-bind="creationDate">
        {{stack.creation_date}}
    </div>
    <div class="books sortable">
        {% with stackset=stack.bookstack_set.all %}
        {{ stackset | length }} books in this stack<br>
        {% for bookstack in stackset|dictsort:"position" %}
        <div class="book{% if bookstack.read %} read{% endif %}" data-position="{{bookstack.position}}">
            <div class="img">
                <img src="{% static "bookstack/images/" %}{{bookstack.book.img}}" alt="">
            </div>
            <div class="book-info">
                <h2 class="title">
                    {{bookstack.book.title}}
                </h2>
                {#% comment %#}
                <div class="authors">
                    By
                    {% for author in bookstack.book.authors.all %}
                    {{author.name}}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </div>
                <div class="publishers">
                    Published by
                    {% for publisher in bookstack.book.publishers.all %}
                    {{publisher.name}}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </div>
                {#% endcomment %#}
                <div class="pages">
                    {{bookstack.book.pages}} pages
                </div>
                <div class="readstatus">Read
                    <form action="{% url 'bookstack:ajax_book_read' user=stack.user.username pk=stack.id %}" method="post" class="add-book">
                    {% csrf_token %}
                    <input type="hidden" name="isbn" value={{ bookstack.book.isbn }}>
                    <input type="checkbox" name="read" {% if bookstack.read %} checked{% endif %}>
                    <!-- <button type="submit" class="add-book-button">Add</button> -->
                </form>
                </div>
                {% comment %}
                {% if bookstack.categories %}
                <div class="categories">
                    Categories:
                    {% for category in bookstack.categories.all %}
                    {{category.category}}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
                {% endcomment %}
            </div>
        </div>
        {% endfor %}
        {% endwith %}
    </div>
</div>
<div id="add-book-modal">
    <button id="close-modal">Close</button>
    <div class="modal-inner">
        <div class="books" data-bind="foreach: books">
            <div class="book">
                <img data-bind="attr: {src: img}" />
                <div data-bind="text: title" class="title"></div>
                <div data-bind="text: pages" class="pages"></div>
                <div data-bind="foreach: authors" class="authors">
                    <div class="author" data-bind="text: $data"></div>
                </div>
                <div data-bind="text: publisher" class="publisher"></div>
                <div data-bind="text: category" class="categories"></div>
                <div data-bind="text: isbn" class="isbn"></div>
                <form action="{% url 'bookstack:ajax_add_book' user=stack.user.username pk=stack.id %}" method="post" class="add-book">
                    {% csrf_token %}
                    <input type="hidden" name="index" data-bind="attr: {value: $index}">
                    <input type="text" name="categories"><label for="categories">Categories</label>
                    <button type="submit" class="add-book-button">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
