codegen==1.0
coreapi==2.1.1
Django==1.10.5
django-cors-headers==2.0.0
django-debug-toolbar==1.7
django-rest-swagger==2.1.1
djangorestframework==3.5.3
itypes==1.1.0
openapi-codec==1.2.1
patterns==0.3
requests==2.12.5
simplejson==3.10.0
sqlparse==0.2.2
uritemplate==3.0.0
