$color_blue: #f0f8ff;
$color_green: #f0fff0;
$color_peach: #ffdab9;
$color_yellow: #fffacd;
$color_pink: #ffe4e1;
$color_grey: lightgray;
$color_white: #e7e7e7;

@import "~bulma";

@mixin centered() {
    display: flex;
    justify-content: center;
    & > div {
        align-self: center;
    }
}

.position {
    align-self: center;
}

.bookstack {
    padding: 1em;
    border-bottom: 1px solid $color_grey;
    &.is-read {
        background-color: $color_blue;
    }
}

.move-arrow {
    cursor: pointer;
}

.autocomplete {
    position: absolute;
    display: block;
}

.search-result {
    display: flex;
    & .box {
        width: 100%;
    }
}

.add-book {
    .modal-content {
        padding: 2em;
        background-color: $color_white;
    }
}

.position .centered {
    @include centered();
}
