<!DOCTYPE html>
{% load i18n %}
{% load staticfiles %}
<html>
  <head>
    <meta http-equiv='Content-type' content='text/html; charset=utf-8'>
    <link rel="icon" type="image/png" href="{% static "bookstack/images/favicon.png" %}">
    <title>BookStack</title>
  <link href="/static/bookstack/js/main.css" rel="stylesheet"></head>
  <body>
    <div id="stack"></div>
    <script>
      window.MyApp.init({
        el: '#stack',
        staticPath: '{{ STATIC_URL }}',
        apiUrl: '{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.get_host }}'
      });
    </script>
  <script type="text/javascript" src="/static/bookstack/js/bundle.js"></script></body>
</html>
