.bookstack {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  border-top: 1px solid #CDCDCD; }
  .bookstack .position {
    font-weight: bold;
    font-size: 1.1em; }
    .bookstack .position input {
      max-width: 100%;
      margin: 0;
      padding: 0; }
  .bookstack.isRead {
    background-color: #EEE; }
  .bookstack .info .categories {
    text-transform: capitalize;
    display: inline;
    padding: 0; }
    .bookstack .info .categories > .category {
      display: inline; }
    .bookstack .info .categories > .category:before {
      content: ',\0000a0';
      /* Non-breaking space */ }
    .bookstack .info .categories > .category:first-child:before {
      content: normal; }

.book > img {
  max-width: 49px; }

.book .info > * {
  margin: 0 0 0.5em 0; }

.book .authors {
  padding: 0;
  text-transform: capitalize;
  display: inline; }
  .book .authors > .author {
    display: inline; }
  .book .authors > .author:before {
    content: ',\0000a0';
    /* Non-breaking space */ }
  .book .authors > .author:first-child:before {
    content: normal; }
